@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;300;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400&family=Tangerine:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'roboto', sans-serif;
    font-size: 700;
    font-size: 90.5%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 1px solid gray
}

.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray; 
    border-radius: 50px; 
}

.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-button.yellow{
    background-color: yellow;
}

.keypad-button.large{
    width: 50%;
}
.keypad-button.dark{
    background-color: lightgray;
}

h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }
  h2 {
    color: #3c1b66;
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
  }
  h3 {
    color: #443963;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h4 {
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h5 {
    color: #656172;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;
  }
  h6 {
    color: #747377;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial;
    text-transform: lowercase;
  }